<section class="hero-section">
    <div class="banner-cock-one">
        <img src="assets/img/icons/banner-cock1.svg" alt="Banner">
    </div>
    <div class="banner-shapes">
        <div class="banner-dot-one">
            <span></span>
        </div>
        <div class="banner-cock-two">
            <img src="./assets/img/icons/banner-cock2.svg" alt="Banner">
            <span></span>
        </div>
        <div class="banner-dot-two">
            <span></span>       
            
        </div>
    </div>
    <div class="container">
        <div class="home-banner">
            <div class="row align-items-center w-100">
                <div class=" col-md-10 mx-auto">
                    <div class="section-search aos">

                        <h4>Empowering Financial Futures with Accessible Banking Solutions</h4>
                        <h1>Unlock Opportunities with <span>Flexible Loans</span> and Secure Savings</h1>
                        <p class="sub-info">Realize Your Financial Goals with Tailored Services, Transparent Processes, and Dedicated Support.</p>
                    </div>
                    
                </div>
                <div class="col-lg-5">
                    <div class="banner-imgs text-center aos" >
                        <img class="img-fluid" src="assets/img/bg/banner-right.png" alt="Banner">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>