<app-navbar></app-navbar>

<div class="col-12 col-sm-12 col-md-12 col-lg-4">
    <aside class="card booking-details">
    <h3 class="border-bottom">Tournoi Details</h3>
    <ul>
    <li><i class="fa-regular fa-building me-2"></i>{{tournoi.nomTournoi}}<span class="x-circle"></span></li>
    <li><i class="feather-calendar me-2"></i>{{tournoi.dateDebut}}</li>
    <li><i class="feather-clock me-2"></i>{{tournoi.dateFin}}</li>
    <li><i class="feather-users me-2"></i>{{tournoi.nbEquipes}}</li>
    </ul>
    <div class="d-grid btn-block">
    <button type="button" class="btn btn-primary">Subtotal : $200</button>
    </div>
    </aside>
    </div>